@import '../../static/styles/mixins';

.charts {
  flex-grow: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &__error {
    text-align: center;
    font-size: 14px;
    color: #2d2d2d;
    padding: 40px 0;
  }

  &__loading-container {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__chart-toggle {
    display: flex;
    justify-content: center;
  }

  &__chart-toggle-button {
    border: none;
    border-radius: 21px;
    height: 42px;
    padding: 0;
    width: 150px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;

    @include gradient;
    -webkit-appearance: none;
    box-shadow: none;

    cursor: pointer;

    &:first-child {
      border-radius: 21px 0 0 21px;
    }

    &:last-child {
      border-radius: 0 21px 21px 0;
    }

    &:disabled {
      background: rgba(33, 61, 61, 0.4);
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: #1c5671;
    }
  }

  &__charts {
    position: relative;
  }

  &__charts-item {
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-out;

    &_absolute {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }

    &_visible {
      opacity: 1;
      visibility: visible;
      transition: all 0.15s ease-in;
    }
  }
}
