.current-weather {
  position: relative;
  display: flex;
  align-items: center;

  &__values {
    display: flex;
    align-items: center;
  }

  &__temp {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__temp-icon {
    width: 18px;
    height: 30px;
    fill: white;
    margin-right: 4px;
  }

  &__temp-value {
    font-size: 16px;
    line-height: 16px;
    color: white;
    font-weight: 400;
  }

  &__temp-unit {
    font-size: 16px;
    line-height: 16px;
    color: white;
    font-weight: 400;
  }

  &__precip {
    display: flex;
    align-items: center;
  }

  &__precip-icon {
    fill: white;
    width: 30px;
    height: 30px;
  }

  &__precip-value {
    font-size: 16px;
    line-height: 16px;
    color: white;
    font-weight: 400;
    margin-right: 4px;
  }

  &__precip-unit {
    font-size: 14px;
    line-height: 14px;
    color: white;
  }

  &__loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__mini-loader {
    fill: white;
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }

  &__error {
    color: white;
    text-align: center;
    font-size: 14px;
  }
}
