@import '../../static/styles/mixins';

.header {
  @include gradient;

  &__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

  &__current-weather {
  }

  &__date-time {
    color: white;
    font-size: 14px;
    font-weight: 400;
  }
}
