@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic-ext');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}
